body {
  font-family: Arial, sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  background-color: #ad8aec;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #2c2929fd;
  line-height: 1.6;
}


p, li, h1, h2, h3, a, footer {
  transition: color 0.3s ease;
}

p:hover,
li:hover,
h1:hover,
h2:hover,
h3:hover,
a:hover,
footer:hover {
  color: red;
}

header {
  background-color: #eb9cff;
  color: #000;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #f5fdae;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: red;
  text-decoration: underline;
  font-style: normal;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  background-color: #abfffb;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(170, 128, 128);
}

section h2 {
  border-bottom: 2px solid #edffac;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.images img,
section img {
  margin: 10px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 6px rgb(212, 241, 144);
}

ul {
  padding-left: 20px;
}

li::marker {
  color: #555;
}

a {
  color: #000;
  text-decoration: underline;
}

footer {
  background-color: #ffaaaa;
  color: #444444;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  border-top: 2px solid #9e7272;
}
